.acerca {
    align-items: flex-end;
    background-size: cover;
    background: url("../img/programming_back1.jpg") no-repeat center;
    color: white;
    flex-direction: column;
    font-size: 2vw;
    justify-content: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.acerca__contenido {
    line-height: 1.2;
    margin-right: 10vh;
    text-align: center;
    width: 40%;
}

.acerca__contenido h2 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 450px) {
    .acerca__contenido {
        font-size: 1.6rem;
        line-height: 1.2;
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
}

