.acerca {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background: url("../img/programming_back1.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-size: 2vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.acerca__contenido {
    width: 40%;
    text-align: center;
    margin-right: 10vh;
    line-height: 1.2;
}

.acerca__contenido h2 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
    .acerca {
        font-size: 1rem;
    }
}