.formacion {
    background: url("../img/programming_back5.jpg") no-repeat center;;
    background-size: cover;
    color: white;
    justify-content: left;
    align-items: center;
}

.formacion ul {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
}

.titulos {
    width: 50vw;
}

.lista__titulos-item {
    margin: 2rem;
}

.lista__titulos-img {
    min-height: 3vw;
    max-height: 8vw;
}
