@font-face {
    font-family: nameFont;
    src: url(../fonts/zrnic___.ttf)
}

.nombre {
    font-family: nameFont;
    font-size: 10vw;
    color: blue;
    margin: 1rem;
}

.lista__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.lista__logos-item {
    width: 10%;
    margin: 1rem;
    min-width: 40px;
    max-width: 100px;
}

.lista__logos-img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .nombre {
        font-size: 7vw;
    }
    .lista__logos {
        flex-wrap: nowrap;
    }
}