@font-face {
    font-family: fuenteNombre;
    src: url(../fonts/WarGames.ttf)
}

.nombre {
    font-family: fuenteNombre;
    font-size: 5rem;
    color: blue;
    margin: 2rem;
}

.lista__logos {
    display: flex;
    list-style: none;
    align-items: center;
}

.lista__logos-item {
    width: 10%;
    margin: 1rem;
}

.lista__logos-img {
    width: 100%;
}