/*font-family: 'Raleway', sans-serif;*/
.presentacion {
    margin-top: 4rem;
    background: url("../img/programming_back4.jpg") no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
    height: 80%;
}

.presentacion__saludo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-bottom: 1.5vh;
}

.presentacion__fotoDePerfil {
    display:none;
    width: 18vw;
    animation-name: animFoto;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}   

.presentacion__container__fotoDePerfil {
    display: block;
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    padding: 3px;
    background-color: blue;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px black;
    border: 1px solid black;
    overflow: hidden;
    background: url("../img/imagenPerfil.png") no-repeat center;
    background-size: cover;
    background-size: 105%;
    background-position: 50% 50%;
}

.presentacion__saludo__nombre {
    font-size: larger;
}

.presentacion__saludo__programador {
    font-size: larger;
}

.presentacion__iconos {
    height: 5vh;
    align-self: center;
    margin-right: 3vh;
    transition: all .3s;
    padding: .5rem;
}

.presentacion__iconos:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: darkblue;
    border-radius: 1rem;
}

.logos {
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.lista__logos-item {
    width: 10%;
    margin: 1rem;
    min-width: 40px;
    max-width: 10vh;
}

.lista__logos-img {
    width: 100%;
}

/*@media screen and (max-width: 768px) {}*/
/*@media screen and (max-width: 450px) {}*/

   
@media screen and (max-width: 1024px) {
    .presentacion__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 80%;
    }

    .presentacion__container__fotoDePerfil {
        width: 50vh;
        height: 50vh;
    }

    .presentacion__saludo {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .presentacion__container__fotoDePerfil {
        width: 30vw;
        height: 30vw;
    }

    .presentacion__saludo {
        font-size: 1rem;
    }

    .encabezado__nombre {
        font-size: 7vw;
    }

    .lista__logos {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 450px) {
    .presentacion__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 80%;
    }

    .presentacion__container__fotoDePerfil {
        width: 60vw;
        height: 60vw;
    }

    .presentacion__iconos {
        background-color: darkblue;
        border-radius: 1rem;
        margin-right: 2vh;
    }

    .presentacion__saludo {
        font-size: 1rem;
    }

    .lista__logos-item:nth-child(2) {
        display: none;
    }

    .lista__logos-item:nth-child(7) {
        display: none;
    }

    .lista__logos-item:nth-child(8) {
        display: none;
    }
}

