/*font-family: 'Raleway', sans-serif;*/

.presentacion {
    width: 100vw;
    height: 85vh;
    margin:  15vh auto 0 auto;
}

.presentacion__saludo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #464646;
    text-align: center;
}

.presentacion__fotoDePerfil {
    display:block;
    margin: 0 auto;
    width: 18vw;
    border-radius: 100%;
    padding: 3px;
    background-color: blue;
    box-sizing: border-box;
    border: 5px solid lightseagreen;
}   

.presentacion__saludo__nombre {
    font-size: larger;
}

.presentacion__saludo__programador {
    font-size: larger;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .presentacion__fotoDePerfil {
        width: 30vw;
    }

    .presentacion__saludo {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) {

}