.proyectos {
    background-color: lightyellow;
    background-size: cover;
    background: url("../img/programming_back2.jpg") no-repeat center;
}

.proyectos__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1rem;
}

.proyecto {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.proyecto__cabecera {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    width: 25vw;
    border-radius: 1rem 1rem 0 0;
}

.proyecto h3 {
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.proyecto__gitHubIcon {
    height: 4vh;
    cursor: pointer;
    transition: all .3s;
}

.proyecto__gitHubIcon:hover {
    transform: scale(1.1);
}

.proyecto__screenShot {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 3px 3px 8px black;
    width: 25vw;
    cursor: pointer;
}

.proyecto:hover {
    transform: scale(1.3) translate(1rem, 2rem);
    
}