.skills {
    background: url(../img/programming_back3.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.skills__grid {
    display: grid;
    align-items: center;
    width: 50%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 2rem;
}

.skills img {
    width: 8vw;
    margin-left: 2rem;
    margin-top: 2rem;
}

.skills__grid div:nth-child(odd) {
    /*border: 3px solid black;
    width: 16vw;
    grid-column: 2 / 2;
    grid-row: 2 / 3;*/
}

@media screen and (max-width: 450px) {
    .skills__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}